body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto Slab', serif;
}
h1 {
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    font-weight: 300;
}
p {
    font-weight: 300;
    color: #546E7A;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    margin: 0;
}
a {
    text-align: center;
    text-decoration: none;
    color: #FFF;
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
buttons.less:14
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
slate.min.css:11
.btn-info {
    background-image: -webkit-linear-gradient(#74cae3, #5bc0de 60%, #4ab9db);
    background-image: -o-linear-gradient(#74cae3, #5bc0de 60%, #4ab9db);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#74cae3), color-stop(60%, #5bc0de), to(#4ab9db));
    background-image: linear-gradient(#74cae3, #5bc0de 60%, #4ab9db);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff74cae3', endColorstr='#ff4ab9db', GradientType=0);
    -webkit-filter: none;
    filter: none;
}
slate.min.css:11
.btn, .btn:hover {
    border-color: rgba(0,0,0,0.6);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
slate.min.css:11
.btn-info {
    color: #ffffff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}
slate.min.css:11
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
buttons.less:11
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
buttons.less:14
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
/* Navigation menu */
/* •••••••••••••••••••••••••••••••• */
.menu {
    position: absolute;
    min-width: 450px;
    max-width: 650px;
    width: 100%;
    pointer-events: none;
    bottom: 5%;
    text-align: center;
    z-index: 2;
}
/* Menu link item */
.menu__link {
    display: inline-block;
    text-decoration: none;
    border: 2px solid #263238;
    color: #ffffff;
    pointer-events: auto;
    line-height: 40px;
    position: relative;
    padding: 0 50px;
    box-sizing: border-box;
    margin: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    border-radius: 50px;
    background: #263238de;
}
.menu__link::before {
    content: attr(data-hover);
    background-color: #263238;
    color: #FFF;
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);
    transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);
    right: 0;
}
.menu__link:hover::before {
    top: 0;
}
/* Panels Style*/
/* •••••••••••••••••••••••••••••••• */
/* Common panel style */
.panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    min-height: 300px;
    max-height: 400px;
    min-width: 450px;
    max-width: 650px;
    height: 60%;
    width: 50%;
    overflow: auto;
    z-index: 999;
    color: #000;
    box-sizing: border-box;
    background-color: #ECEFF1;
    left: calc(50% - 200px);
    border-radius: 5px;
}
/* panel content (only for animation delay after open) */
.panel-content {
    opacity: 0;
    will-change: margin-top;
    -webkit-transition: all 700ms;
    transition: all 700ms;
    -webkit-transition-delay: 600ms;
    transition-delay: 600ms;
    padding: 4%;
    padding-left: 3%;
    margin-top: -5%;
    width: 100%;
    height: 100%;
}
/* Panel content animation after open */
.panel:target .panel-content {
    opacity: 1;
    margin-top: 0;
}
/*  Specific "Home "panel */
/* •••••••••••••••••••••••••••••••• */
.panel#home {
    z-index: 1;
    background: -webkit-radial-gradient(center ellipse, #ffffff 0%, #CFD8DC 100%);
    background: radial-gradient(ellipse at center, #ffffff 0%, #CFD8DC 100%);
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: center;
    /* Particle.js demo */
}
.panel#home canvas {
    position: absolute;
    height: 350px;
    width: 700px;
    display: block;
}
/*  Specific panel "Fade" effect */
/* •••••••••••••••••••••••••••••••• */
.panel#fade {
    background: radial-gradient(ellipse at center, #464646 0%, #2f2f2f 100%);
    opacity: 0;
    -webkit-transition: all 800ms;
    transition: all 800ms;
    pointer-events: none;
}
.panel#fade:target {
    opacity: 1;
    pointer-events: auto;
}
/* Sample Particle background */
/* •••••••••••••••••••••••••••••••• */
#particles {
    opacity: 0.6;
}
/*Game Detail Wrapper*/
.game_detail_wrapper{
  
}

.desctiption_box{
    background: #969696;
    min-height: 1em;
    border-radius: 2px;
    border: 1px solid #eee;
    padding: 2%;
    font-weight: 400;
    font-family: Montserrat,sans-serif;
    width: 100%;
    height: 80%;
    overflow-wrap: break-word;
    overflow-y: auto;
    font-size: 13;
}

.close_button {
  
    align-self: center;
    bottom: 10px;
    margin-top: 10px;
    margin-left: 40%;
    width: 20%;
    position: absolute;
} /* Gray */